.kqxsmb1d .gdb .giaiso,
.kqxsmb1d .g7 .giaiso {
	font-size: 44px;
	color: maroon;
}

.kqxsmb1d .g1 .giaiso {
	font-size: 32px;
}

.kqxsmb1d .g2 .giaiso {
	font-size: 24px;
	width: 50%;
}

.kqxsmb1d .g3 .giaiso {
	width: 33%;
}
.kqxsmb1d .g4 .giaiso {
	width: 50%;
}

.kqxsmb1d .g5 .giaiso {
	width: 33%;
}

.kqxsmb1d .g6 .giaiso {
	width: 33%;
}

.kqxsmb1d .g7 .giaiso {
	width: 25%;
}
