.kqxsmt1d .gdb .giaiso,
.kqxsmt1d .g8 .giaiso {
	font-size: 44px;
	color: maroon;
}

.kqxsmt1d .g1 .giaiso {
	font-size: 32px;
}

.kqxsmn1d .g1 .giaiso {
	font-size: 24px;
}
.kqxsmt1d .g3 .giaiso {
	width: 50%;
}
.kqxsmt1d .g4 .giaiso {
	width: 25%;
}

.kqxsmt1d .g6 .giaiso {
	width: 33%;
}
