.nav {
}
.nav__list {
	border-radius: 8px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: rgb(178, 34, 34);
	list-style-type: none;
}
.nav__item {
	position: relative;
}
.nav__link {
	display: inline-block;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	padding: 8px 20px;
}

.nav__item + .nav__item {
	border-left: 1px solid #ccc;
}

.nav__item:hover {
	background: #feffe5;
}

.nav__item:hover .nav__link {
	color: #000;
}

.nav__item:hover .second-menu {
	display: block;
}

.second-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #feffe5;
	padding: 8px;
	list-style-type: none;
}
.second-item + .second-item {
	border-top: 1px solid rgb(235, 227, 227);
}
.second-item {
	padding: 4px;
}
.second-link {
	display: block;
	color: #000;
	text-decoration: none;
	font-size: 14px;
}

.second-item:hover .second-link {
	color: rgb(214, 14, 14);
}
