.lottery-form {
	width: auto;
	border: 1px solid #ccc;
	border-bottom: 3px solid rgb(178, 34, 34);
	border-radius: 5px;
	background-color: #fff;
}
.lottery-form__header {
	font-size: 24px;
	padding: 8px 6px;
	background: 0 -10px repeat-x rgb(178, 34, 34);
	border-radius: 5px 5px 0 0;
	border-bottom: 2px solid rgb(122, 17, 17);
	font-weight: bold;
	color: #fff;
}
.lottery-form__content {
	margin-left: 10px;
	padding: 10px 0;
	display: block;
}
.lottery-form__control {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.lottery-form__label {
	font-size: 14px;
	min-width: 70px;
}
.lottery-form__input {
	width: 200px;
	font-size: 14px;
	padding: 2px 4px;
}

.lottery-form__btn {
	color: #fff;
	font-weight: bold;
	border-radius: 40px;
	background: rgb(178, 34, 34);
	border: none;
	padding: 6px 20px;
	font-size: 16px;
	margin-top: 5px;
}

.lottery-form__btn:hover {
	background: rgb(218, 214, 10);
	color: #000;
}

.chon {
	cursor: pointer;
	color: rgb(3, 98, 187);
}

h3 {
	margin-top: 15px;
}
